*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Staatliches', cursive;
}

/* navigation section */
#navbar{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    border: 2px solid green;
}
#navbar::before{
    content: '';
    position: absolute;
    background: url(img/bg.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
}
#navbar img{    
    height: 59px;
    margin: 3px 6px;
    padding: 5px;
    border-radius: 70px;
}
#navbar ul {
    display: flex;
    flex-direction: row;
    font-family: 'Staatliches', cursive;
}
#navbar ul li{
    list-style: none;
}
#navbar ul li a{
    margin: 28px;
    padding: 5px;
    text-decoration: none;
    font-size: 1.7rem;
    color: black;
    background-color: rgba(187, 181, 104, 0.72);
    border-radius: 13px;
}
#navbar ul li a:hover{
    background-color: burlywood;
}

/* home styling */

#home{
    border: 2px solid red;
    text-align: center;
    height: 190px;
    padding: 260px;
    background: url(img/bg.jpg) no-repeat center center/cover;
    opacity: 0.6;
    padding-top: 185px;
}
#home h1,
#home p{
    font-size: 45px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.282);
    border-radius: 10px;
    padding: 5px;
}
#home p{
    font-size: 20px;
}
#btn{
    padding: 12px;
    margin: 12px;
    border-radius: 15px;
    background-color: khaki;
    cursor: pointer;
    font-size: 1.5rem;
    outline: none;
    font-family: 'Staatliches', cursive;
}
#btn::hover{
    background-color: rgb(145, 144, 74);
}













/* service styling */

#service{
    border: 2px solid blue;
    display: flex;
}

#service-heading{
    text-align: center;
    font-size: 40px;
    color: rgb(80, 80, 80);
    padding: 5px;
}

#service img{
    height: 150px;
}

.service-item{
    width: 400px;
    height: auto;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    padding: 26px;
    margin: 5px 7px;


}



















/* Media query for responsiveness */


@media screen and (max-width: 990px){
            /* home */
    #home{
        padding-top: 150px;
    }
    #home h1{
        font-size: 50px;
        padding: 5px;
    }
    #home p{
        font-size: 20px;
        padding: 5px;
    }
    #home button{
        padding: 10px;
        margin: 10px;
        border-radius: 100px;
        font-size: 1.2rem;
        
    }
            /* service  */
    #service{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 840px){
    #navbar ul li a{
        font-size: 1.5rem;
    }
    #navbar{
        flex-direction: column;
    }
    /* home */
    #home{
        height: 300px;
        padding: 180px;
        padding-top: 100px;
    }
    #home h1{
        font-size: 40px;
        padding: 3px;
    }
    #home p{
        font-size: 18px;
        padding: 3px;
    }
}
@media screen and (max-width: 630px){
    #navbar ul li a{
        margin: 7px;
        padding: 3px;
    }
    /* home */
    #home{
        height: 350px;
        padding: 130px;
        padding-top: 150px;
    }
    #home h1{
        font-size: 30px;
        padding: 3px;
    }
    #home p{
        font-size: 15px;
        padding: 3px;
    }
}
@media screen and (max-width: 465px){
    #navbar ul li a{
        margin: 5px;
        padding: 3px;
        font-size: 1.2rem;
    }
    /* home */
    #home{
        height: 380px;
        padding: 100px;
        padding-top: 120px;
    }
    #home h1{
        font-size: 25px;
        padding: 2px;
    }
    #home p{
        font-size: 15px;
        padding: 2px;
    }
    #home button{
        padding: 8px;
        margin: 8px;
        border-radius: 80px;
        font-size: 1.0rem;
    }

    /* service */
    .service-item{
        width: 270px;
    }
}
@media screen and (max-width: 340px){
    #navbar ul li a{
        font-size: 1.0rem;
        margin: 3px;
    }
    /* home */
    #home{
        height: 400px;
        padding: 70px;
    }
    #home h1{
        font-size: 35px;
        padding: 5px;
    }
    #home p{
        font-size: 10px;
        padding: 5px;
    }
    #home button{
        padding: 6px;
        margin: 6px;
        border-radius: 50px;
        font-size: 0.8rem;
    }

    /* service */
    .service-item{
        width: 230px;
    }
}

@media screen and (max-width: 310px){
    #navbar ul li a{
        margin: 2px;
    }
    /* home */
    #home{
        height: 350px;
        padding: 50px;
    }
    #home h1{
        font-size: 25px;
        padding: 5px;
    }
    #home p{
        font-size: 5px;
        padding: 5px;
    }
    #home button{
        padding: 6px;
        margin: 6px;
        border-radius: 50px;
        font-size: 0.8rem;
    }
}